# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:

extensions:
	controllers: RestServer\ControllersExtension

database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:


php:
	date.timezone: Europe/Prague

session:
	expiration: 14 days


services:
	- RestServer\Application
	- Rest\RouteListFactory
	- RestServer\IResponseFactory
	- RestServer\JsonRenderer
	- RestServer\ParametersAccessor
controllers:
	- App\Controllers\ArticleController
